@font-face {
    font-family: 'ChosunNm';
    font-weight: normal;
    font-style: normal;
    src: url('../../font/ChosunNm.woff2') format('woff2'),
         url('../../font/ChosunNm.woff') format('woff'),
         url('../../font/ChosunNm.ttf') format("truetype");
    font-display: swap;
}

*{font-family: 'ChosunNm';}
